.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #992643;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin: 8px;
  margin-bottom: 350px;
}

.flash-success {
  border: 2px solid #1edd88;
}

.flash-warning {
  border: 2px solid #ffc65a;
}

// .flash-danger {
//   border: 2px solid
// }

.iconlike {
  display: flex;
  justify-content: right;
}

.card-details-container {
  .cand-detail-h1 {
    font-size: 24px;
    color: #404040;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: capitalize !important;
  }

  .list {
    .distance {
      font-weight: 600;
      color: #404040;
      margin-top: 50px;
      margin-bottom: 5px;
      span {
        margin-right: 5px;
        color: #f6c9e1;
      }
    }
  }

  .map {
    display: flex;
    margin-top: 0px;
    height: 250px;
    // max-height: 300px;
    border-radius: 8px;
  }
}
