.alert {
  position: fixed;
  right: 50px;
  z-index: 1000;
}

.alert-no-jobs {
  position: fixed;
  right: 50px;
  z-index: 1000;
}

#flash-alert {
  background: #fff;
  border-radius: 5px;
  color: #404040;
  font-weight: 500;
  span {
    font-weight: 700;
  }

  a {
    font-size: 12px;
  }
}

.custom-alert {
  background-color: #2BCCD0;
  color: white;
}

.custom-btn-close {
color: white;
}
