body {
  background: #f1f1f1;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 40px;
  span {
    color: #ec2f91;
    font-size: 38px;
  }
}
