.button {
text-decoration: none;
text-align: center;
font-weight: 600;
color: #FFFFFF;
width: 100%;
display: block;
border-radius: 8px;
border: 1px solid black;
margin: 12px 0px;
padding: 12px 0px;
}

.button-blue {
  background-color: #5AEAED;
  transition: background-color 1s ease;
  text-decoration: none;
}

.button-red {
  background-color: #bf203d;
  transition: background-color 1s ease;
}

.button-no-border {
  border: 0px;
  text-decoration: none;
}

.button-transparent {
  border: 2px solid white;
}


.btn-match{
  background-color: white;
  border-radius: 40px;
  padding: 12px;
  border: none;
  font-size: 28px;
}



  .btn-like{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50%;
    background-color: white;
    color:green;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .btn-dislike{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50%;
    background-color: white;
    color:red;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }



.button-my-jobs {
  border: 2px solid white;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 8px;
  color:#65656b;
  background-color: rgb(255, 255, 255);
}
