.button {
  border-radius: 5px;
  border: 1px solid #ec2f91;
  background-color: #ec2f91;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 100ms ease-in;
  // width: 80%;
  width: 100%;
  margin: 0px;
  min-width: fit-content;
  text-decoration: none;
  &:hover {
    transform: scale(0.99);
  }
}

// Esse é o botão/card que exibe os candidatos da página index de jobs na visão de candidato

.btn-card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #404040;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  width: 100%;
  height: 60px;
  margin: 0px;
  min-width: fit-content;
  .fa-thumbs-up {
    color: #f5c2dd;
  }
}

// Aqui termina o botão/card da página index de jobs na visão de candidato

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #404040;
  color: #404040;
  &:hover {
    transform: scale(0.99);
  }
}

#link-delete {
  text-decoration: none;
  text-align: center;
  color: #404040;
}

.buttons-match {
  // position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  bottom: 0;
  width: 100%;
  font-size: 56px;
  align-self: flex-end;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  .gradient-border {
    border-radius: 50%;
    padding: 5px;
    background: rgb(238, 119, 82);
    background: linear-gradient(140deg, rgba(238, 119, 82, 1) 0%, rgba(231, 60, 126, 1) 32%, rgba(157, 84, 191, 1) 70%, rgba(20, 184, 188, 1) 100%);
    opacity: 0.8;
    .btn-like-match {
      border-radius: 50%;
      background-color: #fff;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }

    .btn-dislike-match {
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.8;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    i {
      background: -webkit-linear-gradient(140deg, rgba(238, 119, 82, 1) 0%, rgba(231, 60, 126, 1) 32%, rgba(157, 84, 191, 1) 70%, rgba(20, 184, 188, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
