.bg-card-job {
  background-color: #ffffff;
  color: #000;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #14B8BC;


  // h2 {
  //   margin:0;
  // }
}

.flex-edit-delete{
  display: flex;
  gap: 12px;
}


.bg-card-candidates {
  background-color: #14B8BC;
  color: #000;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
