.chatroom {
  margin: 24px;
  border-radius: 8px;
  max-height: 720px;
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  color: black;
  text-align: left;

  h1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    text-align: left;
    height: 100%;
    overflow-y: auto; /* Alterado para overflow-y */
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid #ddd;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .current-user,
  .other-user {
    border-radius: 8px;
    padding: 8px 12px;
    margin: 4px;
    max-width: 70%; /* Limita a largura das mensagens */
  }

  .current-user {
    background-color: #f44336; /* Vermelho */
    color: white;
    align-self: flex-end; /* Alinha à direita */
  }

  .other-user {
    background-color: #2196f3; /* Azul */
    color: white;
    align-self: flex-start; /* Alinha à esquerda */
  }

  .btn-primary {
    margin-top: 0.5rem; /* Espaçamento entre o botão e a última mensagem */
    align-self: flex-end; /* Alinha o botão à direita */
  }
}
