
.full-width-btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: #5AEAED; // Ajuste conforme necessário para o espaçamento desejado
  font-size:14;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 15px;
   margin-bottom: 20px;
}


.title-form{

  color: #5AEAED;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; /* Você pode ajustar este valor conforme necessário */
}
