.custom-list-style {
  font-family: Arial, sans-serif; /* Altere para a fonte desejada */
  font-size: 14px; /* Altere para o tamanho de fonte desejado */
  font-weight: bold; /* Altere para o peso da fonte desejado */
}
